<div class="ui top attached segment">
  <p>
    The nrg-context-item component can be added to routes and components. The
    context item will be moved into the context menu automatically.
  </p>
</div>
<ContextTests />
<NrgCodeBlock @label="Example" @codeBlockName="context-item.hbs" />
<NrgCodeBlock @label="Usage" @codeBlockName="context-item-js.js" />