<NrgCodeBlock
  @label="Render Template Block"
  @codeBlockName="nrg-render-template-block.hbs"
>
  {{! BEGIN-SNIPPET nrg-render-template-block }}
  <NrgButton @onClick={{this.changeTemplate}}>Change Template</NrgButton>
  <NrgRenderTemplateBlock @templateRendered={{this.cloneTemplate}}>
    <p>
      {{this.templateBody}}
    </p>
  </NrgRenderTemplateBlock>
  <div class="ui top attached segment">
    Cloned Template Block
  </div>
  <div class="ui attached segment">
    {{this.clonedTemplateBlock}}
  </div>
  {{! END-SNIPPET }}
</NrgCodeBlock>