
<!-- BEGIN-SNIPPET side-by-side-detail -->
{{page-title "detail" replace=false}}

<NrgResponsiveTakeover @previousRoute="side-by-side">
  <div class="ui segment">
    <h2>{{@model.name}}</h2>
  </div>
</NrgResponsiveTakeover>
<!-- END-SNIPPET  -->