<div class="ui top attached segment">
  <p>
    The context menu mixin can be added to routes and components.
    An example is provided below for components, but the use case is the same for routes.
  </p>
  <p>
    Context items will be added/removed by the lifecycle of components and routes.
  </p>
</div>
<div class="ui bottom attached segment">
  <h3>By the rendering this component, context items will be added in the appbar.</h3>
  {{nrg-checkbox label="Render Component" type="toggle" checked=showComponent}}
</div>
{{#if showComponent}}
  {{context-test}}
{{/if}}
{{nrg-code-block label="Example" codeBlockName="context-menu-example.js" }}
