{{page-title "context-menu-mixin"}}

<div class="ui top attached segment">
  <p>
    The context menu mixin can be added to routes and components. An example is
    provided below for components, but the use case is the same for routes.
  </p>
  <p>
    Context items will be added/removed by the lifecycle of components and
    routes.
  </p>
</div>
<ContextTest />
<NrgCodeBlock @label="Example" @codeBlockName="context-menu-example.js" />