<div class="ui raised segments">
  <div class="ui segment">
    <h5 class="ui header">
      <i class="icon code"></i>
      <div class="content">
        {{label}}
        {{#if secondaryLabel}}
          <div class="sub header">
            {{secondaryLabel}}
          </div>
        {{/if}}
      </div>
    </h5>
  </div>
  {{#if hasBlock}}
    <div class="ui segment">
      {{yield}}
    </div>
  {{/if}}
  {{code-snippet name=codeBlockName}}
</div>
