<!-- BEGIN-SNIPPET master-detail-detail -->
<NrgResponsiveTakeover @onBackArrowClick={{action this.onBackArrowClick}}>
  <div class="ui segment">
    <h2>{{model.name}}</h2>
  </div>
</NrgResponsiveTakeover>
<!-- END-SNIPPET  -->