<div class="ui top attached segment">
  <div class="ui form">
    <div class="ui field">
      <label>
        Typing in this text box should not register a keyboard shortcut
      </label>
      <NrgTextField />
    </div>
  </div>
</div>
<div class="ui attached segment">
  <div class="ui form">
    <div class="ui field">
      <label>C</label>
      <div>{{counterC}} time(s)</div>
    </div>
    <div class="ui field">
      <label>Shft+C</label>
      <div>{{counterShftC}} time(s)</div>
    </div>
    <div class="ui field">
      <label>Ctrl+C</label>
      <div>{{counterCtrlC}} time(s)</div>
    </div>
    <div class="ui field">
      <label>Alt+Shft+C</label>
      <div>{{counterAltShftC}} time(s)</div>
    </div>
  </div>
</div>
<div class="ui bottom attached info message">
  <i class="warning icon"></i> Shft+? to bring up help dialog
</div>
