.ui.vertical.left.menu.sidebar-menu {
  >.item {
    padding-left: 0.9em;
    padding-right: 0.9em;
  }
}

.nrg-application {
  .nrg-logo {
    background-repeat: no-repeat;
    margin: 5.5px;
    display: inline-block;

    .menu & {
      flex: 0 0 auto;
    }
  }
  &>.main.menu {
    background-color: rgba($appbar-color, .98);
    height: $appbar-height;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);

    .ellipsis {
      height: 1.15em;
    }
  }

  &.fullscreen-map {
    .pusher.pusher {
      height: 100vh;
    }

    .map-container {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      .map-toolbar {
        top: $appbar-height;
        @at-root .large-screen-sidebar-active .map-toolbar.map-toolbar.map-toolbar {
          left: $sidebar-width;
        }
      }

      .esri-popup--is-docked-top-right.esri-popup--is-docked-top-right {
        top: 96px;
      }
    }

    .sidebar-solid {
      position: fixed;
      z-index: 2;
      opacity: 0.95;
      display: none;
      @media (min-width: $computer-breakpoint) {
        display: block;
      }
    }
  }

  .pushable.pushable {
    transform: none !important;

    & .sidebar-modal.sidebar-modal,
    & .sidebar-solid>.sidebar-menu {
      position: fixed;
      top: $appbar-height;
      left: 0;
      bottom: 0;
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      height: calc(100% - #{$appbar-height}) !important;
      width: $sidebar-width;
    }

    & .sidebar-modal.sidebar-modal .sidebar-menu {
      box-shadow: none;
    }
  }

  .sidebar-flex-container {
    display: flex;
    flex-direction: row;

    .sidebar-solid {
      position: relative;
      z-index: 1;
      width: $sidebar-width;
      flex: 0 0 auto;
      display: none;
      @media (min-width: $computer-breakpoint) {
        display: block;
      }
    }

    .main-content {
      flex: 1 1 auto;
      min-width: 0;
      padding: 5.5em 0 2em;
      height: 100vh;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      @media (max-width: 767px) {
        padding: $appbar-height 0 0;

        .container {
          margin: 0 -1px !important;
        }
      }
      @media (min-width: $computer-breakpoint) {
        padding: 5.5em 2em 2em;
      }
    }
  }

  .sidebar-modal {
    border: 0;
    @media (min-width: $computer-breakpoint) {
      display: none !important;
    }
  }

  .sidebar-menu {
    width: $sidebar-width !important;
    border-radius: 0 !important;
    border: 0;
  }
}

.sidebar-footer {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  font-size: 0.9em;

  .footer-pusher {
    flex-grow: 1;
  }
}

.parent-route {
  color: #202020;
  &:hover {
    color: #726b6b;
  }
}

.environment-title.environment-title {
  color: red;
  padding-left: 5px;
  font-size: 16px;
}

.text-center {
  text-align: center;
}

.application-error-container {
  padding-top: 5.5em;
}
