.nrg-application {
  .toast-container {
    margin-top: $appbar-height;

    .ui.ui.progress.error .bar {
      background-color: #541212;
    }
  }
}

.ui.toast-container {
  position: fixed;
  z-index: 5000;
}
