.form-link {
  cursor: pointer;

  &:not(:first-of-type):before {
    pointer-events: none;
    text-decoration: none;
    padding: 0 0.5em;
    color: #000;
    content: '|';
  }
}

.ui.dropdown:not(.selection):not(.button) > .default.text {
  color: #000;
}

.nrg-text-area {
  flex-direction: column;

  .character-limit {
    margin-left: auto;
    order: 2;
    margin-top: 0.5em;
  }
}

.ui.multiple.search.dropdown > input.search {
  height: 1em;
}

.scrollable {
  max-height: 50vh;
  overflow-y: auto;
}

.ui.radio.checkbox label {
  cursor: pointer;
}

.ui.calendar {
  &:focus {
    outline: none;
  }

  .wrapper {
    position: relative;
  }

  &.popup {
    top: 42.6875px;
    left: 0;
    bottom: auto;
    right: auto;

    .link:not(.disabled):hover {
      background: #e0e0e0 !important;
      color: rgba(0, 0, 0, 0.87) !important;
    }
  }

  & .ui.table tr td.today {
    font-weight: 700;
  }
}

.context-menu-container.context-menu-container.context-menu-container.context-menu-container.context-menu-container {
  .item {
    color: rgba(0, 0, 0, 0.95) !important;
    &.disabled {
      opacity: 0.5;
      color: #000000 !important;
      background: #ffffff !important;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.05) !important;
    }
  }
  &.bottom {
    border-top: 1px solid rgba(34, 36, 38, 0.1);
  }
}
