.home-card.home-card.home-card {
  cursor: pointer;

  .content {
    padding-left: 0;
    padding-right: 0;

    .description {
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  .ui.three.cards > &.card {
    width: calc(33.33% - 1.3em);
    margin-left: 0.65em;
    margin-right: 0.65em;
  }

  .meta {
    text-align: center;

    .label {
      background-color: transparent;
      padding-bottom: 0;
    }
  }
  .image:not(.icon) {
    & > img {
      height: 100px;
      width: 100px;
      margin: 1em auto;
      border-radius: 50%;
      @media (min-width: $tablet-breakpoint) {
        height: 150px;
        width: 150px;
      }
      @media (min-width: $computer-breakpoint) {
        height: 200px;
        width: 200px;
      }
    }
  }

  .image.icon {
    text-align: center;
    height: 7em;
    line-height: 7em;
    background-color: #2185d0;

    .icon {
      display: inline-block;
      vertical-align: middle;
      font-size: 2.5em;
      color: #fff;
      box-shadow: 0 0 0 0.1em rgba(255, 255, 255, 0.3) inset;
    }
  }

  &.action-card .image.icon {
    background-color: #50769a;
  }

  .header.header.header {
    font-size: 1.5em;
    text-align: center;
  }
  @media (max-width: $tablet-breakpoint) {
    .image.icon {
      height: 4em;
      line-height: 4em;
    }

    .icon.icon.icon {
      font-size: 1.5em;
    }

    .header.header.header {
      font-size: 1em;
    }
  }

  .ui.floating.circular.label {
    border-radius: 500rem !important;
    font-size: 1em;

    .spinner {
      margin: 0;
    }
  }
}
