.shortcut-modal.shortcut-modal.shortcut-modal {
  width: auto;
}
.shortcut-spacer {
  padding-top: 10px;
}
.shortcut-item {
  margin: 3px 0;
  .shortcut-keys {
    text-align: right;
    padding-right: 10px;
    .shortcut-key {
      margin: 1px 0;
      padding: 1px 5px;
      border: solid 1px #ccc;
      border-bottom-color: #bbb;
      background-color: #fafbfc;
      border-radius: 3px;
      box-shadow: inset 0 -1px 0 #bbb;
    }
  }
  .shortcut-plus {
    margin: 0 -3px;
  }
  .shortcut-comma {
    margin-left: -4px;
  }
}
