.item-list--search {
  .ember-text-field.ember-text-field.ember-text-field.ember-text-field {
    max-width: 6em;
    @media (min-width: 320px) {
      max-width: 7em;
    }
    @media (min-width: 414px) {
      max-width: 9em;
    }
    @media (min-width: 600px) {
      max-width: inherit;
    }
  }
}

.nrg-list--filter-menu.nrg-list--filter-menu {
  background-color: #f9f9f9;
  padding: 0.75em;

  & > .item {
    display: inline-block;
    vertical-align: middle;
    line-height: 2.9em;

    &.right {
      float: right;
    }

    .menu {
      max-height: 300px;
      overflow-y: auto;
    }
  }

  .ui.dropdown {
    & > .text {
      max-width: 110px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @media (min-width: $tablet-breakpoint) {
        max-width: 280px;
      }
      @media (min-width: $computer-breakpoint) {
        max-width: 440px;
      }
    }

    & > .dropdown.icon {
      top: -15px;
    }
  }
}

.nrg-list.nrg-list.nrg-list {
  padding: 0;

  .items > .item {
    &.active {
      background-color: #e5e5e5;
    }

    & .description,
    & .header,
    & .meta,
    & > .icon {
      color: #555;
    }
    flex-direction: row;

    .image {
      width: 50px;
    }

    .content:not(:first-child) {
      padding: 0 0 0 1em;
    }

    &.pagination {
      padding: 0;
    }

    &:not(.pagination) {
      padding: 1em !important;
    }

    &.disabled {
      cursor: auto;
    }
  }
}

.floating.bottom.right.button {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1;
}

.group-label {
  box-sizing: border-box;
  background-color: #eeeeee;
  width: 100%;
  display: block;
  padding: 0.4em 0.8em;
  border-top: 1px #dadada solid;
  font-weight: 500;
  font-size: 1.1em;
}

.scrollable-submenu {
  max-height: 50vh;
  overflow-y: auto;
}
