.ui.modals.visible {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transform-origin: center center;
  transform-style: flat;
  perspective: 2000px;

  &.sidebar-container {
    z-index: 100;
    top: $appbar-height;
    height: calc(100% - #{$appbar-height});
  }

  .above-dimmer.above-dimmer.above-dimmer.above-dimmer {
    z-index: 1002;
  }

  .ui.modal.visible {
    flex: 0 0 auto;
    position: absolute;
    // z-index: 1000;
  }
  .ui.flyout.visible {
    // z-index: 1000;
  }

  .scrolling.content {
    max-height: calc(87.5vh - 10rem);
  }

  .page.dimmer {
    z-index: 1001;

    &.not-dismissable {
      cursor: default;
    }
  }

  .dimmer {
    &.visible::after {
      height: 100%;
    }

    &::after {
      content: '';
      width: 100%;
      height: 0;
      position: absolute;
      top: 0;
      left: 0;
      background: transparent !important;
      transition: background 0.5s ease;
    }

    &.dark.visible::after {
      background: rgba(0, 0, 0, 0.85) !important;
    }

    &.light.visible::after {
      background: rgba(0, 0, 0, 0.4) !important;
    }
  }

  .sidebar-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    height: 100%;
    width: $sidebar-width;
    border-radius: 0;
  }
}
