.ui.label.search-container {
  display: inline-flex;
  align-items: center;
  padding: 0%;

  background-color: #fff;
}

.clear-search {
  padding: 0.75em 0.75em 0.75em 0.25em;
  font-size: 1.25em;

  &-disabled {
    cursor: default;
    opacity: 0.4;
  }
}
