$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$computer-breakpoint: 992px;
$large-monitor-breakpoint: 1200px;
$widescreen-monitor-breakpoint: 1920px;
$sidebar-width: 200px;
$appbar-height: 48px;
$appbar-color: #232845;

@import 'forms';
@import 'home-card';
@import 'application';
@import 'flash-messages';
@import 'github';
@import 'keyboard-shortcuts';
@import 'lightbox';
@import 'list';
@import 'modal';
@import 'master-detail';
@import 'popup';

// https://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone
input,
select,
textarea {
  font-size: 16px !important;
}

[data-ember-action] {
  cursor: pointer;
}
