{{page-title "nrg-loading-indicator"}}

<NrgCodeBlock @label="Centered Loading Indicator" @codeBlockName="loading-indicator-center.hbs">
  {{!-- BEGIN-SNIPPET loading-indicator-center --}}
  <NrgLoadingIndicator />
  {{!-- END-SNIPPET --}}
</NrgCodeBlock>

<NrgCodeBlock @label="Uncentered Loading Indicator" @codeBlockName="loading-indicator-uncenter.hbs">
  {{!-- BEGIN-SNIPPET loading-indicator-uncenter --}}
  <NrgLoadingIndicator @centered={{false}} />
  {{!-- END-SNIPPET --}}
</NrgCodeBlock>

<NrgCodeBlock @label="Indeterminate Loading Indicator" @codeBlockName="loading-indicator-indeterminate.hbs">
  {{!-- BEGIN-SNIPPET loading-indicator-indeterminate --}}
  <NrgLoadingIndicator @indeterminate={{true}} />
  {{!-- END-SNIPPET --}}
</NrgCodeBlock>

<NrgCodeBlock @label="Loading Indicator Sizes" @codeBlockName="loading-indicator-sizes.hbs">
  {{!-- BEGIN-SNIPPET loading-indicator-sizes --}}
  <div class="ui segments">
    <div class="ui segment">
      <div class="ui top left attached label">Tiny</div>
      <NrgLoadingIndicator @size="tiny" />
    </div>
    <div class="ui segment">
      <div class="ui top left attached label">Small</div>
      <NrgLoadingIndicator @size="small" />
    </div>
    <div class="ui segment">
      <div class="ui top left attached label">Medium</div>
      <NrgLoadingIndicator @size="medium" />
    </div>
    <div class="ui segment">
      <div class="ui top left attached label">Large</div>
      <NrgLoadingIndicator @size="large" />
    </div>
    <div class="ui segment">
      <div class="ui top left attached label">Massive</div>
      <NrgLoadingIndicator @size="massive" />
    </div>
  </div>
  {{!-- END-SNIPPET --}}
</NrgCodeBlock>

<NrgCodeBlock @label="Loading Indicator With Text" @codeBlockName="loading-indicator-text.hbs">
  {{!-- BEGIN-SNIPPET loading-indicator-text --}}
  <NrgLoadingIndicator @size="massive" @text="Loading" />
  {{!-- END-SNIPPET --}}
</NrgCodeBlock>
