<div class="ui segment">
  <NrgFormContainer @onSubmit={{this.submit}} as |form|>
    <form.field @label="Show Text" as |field|>
      <field.checkbox
        @model={{this}}
        @valuePath="showText"
        @label="Check me!"
      />
    </form.field>
    {{#if this.showText}}
      <form.field @label="Text Field" as |field|>
        <field.text-field @model={{this}} @valuePath="textField" />
      </form.field>
    {{/if}}
    {{#if this.showMessage}}
      <div class="ui success message">
        It worked!
      </div>
    {{/if}}
    <form.submit-button />
  </NrgFormContainer>
</div>