<div class="ui segment basic">
  <h3>Components</h3>

  <NrgHomeCards as |view|>
    <view.home-card
      @route="view-components.nrg-application"
      @label="Application"
      @icon="window maximize outline"
    />
    <view.home-card
      @route="view-components.nrg-dropdown"
      @label="Dropdown"
      @icon="chevron down"
    />
    <view.home-card
      @route="view-components.nrg-error-pages"
      @label="Error Pages"
      @icon="warning sign"
    />
    <view.home-card
      @route="view-components.nrg-forms"
      @label="Forms"
      @icon="edit"
    />
    <view.home-card
      @route="view-components.nrg-home-cards"
      @label="Home Cards"
      @icon="th"
    />
    <view.home-card
      @route="view-components.nrg-loading-indicator"
      @label="Loading Indicator"
      @icon="circle notch"
    />
    <view.home-card
      @route="view-components.nrg-modal"
      @label="Modal"
      @icon="clone"
    />
    <view.home-card
      @route="view-components.nrg-lightbox"
      @label="Lightbox"
      @icon="images"
    />
    <view.home-card
      @route="view-components.nrg-list"
      @label="List"
      @icon="list"
    />
    <view.home-card
      @route="view-components.nrg-search"
      @label="Search"
      @icon="search"
    />
    <view.home-card
      @route="view-components.nrg-popup"
      @label="Popup"
      @icon="comment"
    />
    <view.home-card
      @route="side-by-side"
      @label="Side by Side"
      @icon="columns"
    />
    <view.home-card
      @route="view-components.nrg-context-item"
      @label="Context Menus"
      @icon="ellipsis vertical"
    />
    <view.home-card
      @route="view-components.nrg-progress-bar"
      @label="Progress Bar"
      @icon="ellipsis horizontal"
    />
  </NrgHomeCards>
</div>

<div class="ui segment basic">
  <h3>Modifiers</h3>

  <NrgHomeCards as |view|>
    <view.home-card
      @route="view-modifiers.focus-first-input"
      @label="Focus First Input"
      @icon="chevron right"
    />
    <view.home-card
      @route="view-modifiers.on-click-outside"
      @label="On Click Outside"
      @icon="mouse pointer"
    />
    <view.home-card
      @route="view-modifiers.on-resize"
      @label="On Resize"
      @icon="expand arrows alternate"
    />
  </NrgHomeCards>
</div>

<div class="ui segment basic">
  <h3>Services</h3>

  <NrgHomeCards as |view|>
    <view.home-card @route="toasts" @label="Toasts" @icon="envelope" />
  </NrgHomeCards>
</div>