<div class="ui flyouts">
  {{#each this.flyoutService.openFlyouts as |flyout|}}
    {{#if (eq this.flyoutService.activeFlyout flyout)}}
      <div
        role="button"
        aria-label={{if flyout.isDismissable "Dismiss Flyout"}}
        class="ui visible active
          {{unless flyout.isDismissable 'not-dismissable'}}
          {{flyout.dimmerClass}}"
      ></div>
    {{/if}}
    <NrgFlyoutContainer::FlyoutWrapper @flyout={{flyout}} />
  {{/each}}
</div>