<NrgDropdown
  @class="item icon"
  @freeform={{true}}
  @disabled={{this.contextService.disabled}}
  as |dropdown|
>
  <dropdown.source>
    <i class="ellipsis vertical icon"></i>
  </dropdown.source>
  <dropdown.menu>
    <div {{did-insert this.onInsert}} {{will-destroy this.onDestroy}}>
      <div class="context-menu-container top"></div>
      <div class="context-menu-container bottom"></div>
    </div>
  </dropdown.menu>
</NrgDropdown>