<div class="ui horizontal segments side-by-side {{@class}}" ...attributes>
  <div class="ui segment side-by-side--primary">
    {{yield to="primary"}}
  </div>
  <div class="ui segment side-by-side--secondary">
    {{yield to="secondary"}}
  </div>
</div>