<div class="ui flyouts">
  {{#each this.flyoutService.openFlyouts as |flyout|}}
    {{#let (eq this.flyoutService.activeFlyout flyout) as |isActiveFlyout|}}
      <NrgFlyoutContainer::FlyoutWrapper
        @flyout={{flyout}}
        @isActive={{isActiveFlyout}}
        @activeIsTransitioning={{this.flyoutService.activeIsTransitioning}}
      />
    {{/let}}
  {{/each}}
</div>