<div class="ui vertical left menu sidebar-menu {{@class}}" ...attributes>
  <a
    class="nrg-logo"
    href={{if @appReloadLocation @appReloadLocation "/"}}
    aria-label="Application logo"
  ></a>
  {{yield
    (hash
      item=(component "nrg-sidebar-menu/item" onClickInternal=@onClickInternal)
      group=(component
        "nrg-sidebar-menu/group" onClickInternal=@onClickInternal
      )
    )
  }}

  {{#if (has-block "footer")}}
    <div class="sidebar-footer">
      <div class="footer-pusher"></div>
      {{yield
        (hash
          item=(component
            "nrg-sidebar-menu/item" onClickInternal=@onClickInternal
          )
          group=(component
            "nrg-sidebar-menu/group" onClickInternal=@onClickInternal
          )
        )
        to="footer"
      }}
    </div>
  {{/if}}
</div>