<div class="is-visually-hidden {{@class}}" ...attributes>
  <div
    class="js-capture-node"
    {{did-insert this.setupMutationObserver}}
    {{will-destroy this.teardownMutationObserver}}
  >
    {{yield}}
  </div>
</div>