<div class="{{if @scrollable "scrollable"}} menu {{@menuClass}} {{@class}}">
  {{yield
    (hash
      options=@displayedOptions
      item=(component
        "nrg-dropdown/item" activeItem=@activeItem onSelectInternal=this.onSelectInternal
      )
      sub-menu=(component "nrg-dropdown/sub-menu" onSelectInternal=this.onSelectInternal)
    )
  }}
</div>