@import 'github-gist';
@import 'hljs-theme';

.code-block {
  pre {
    margin: 1em;
  }
}

.nrg-logo {
  background-image: url('../images/nrg-logo.svg');
  height: 36px;
  width: 135px;
  background-size: 135px 36px;
}
