<FreestyleSection @name="Focus First Modifier">
  <Freestyle::Usage>
    <:example>
      <div {{focus-first-input}}>
        <NrgFormContainer as |form|>
          <form.field @label="Test Input" as |field|>
            <field.text-field />
          </form.field>
        </NrgFormContainer>
      </div>
    </:example>
  </Freestyle::Usage>
</FreestyleSection>