<FreestyleSection @name="On Resize Modifier" as |Section|>
  <Freestyle::Usage @name="On Resize Modifier">
    <:example>
      <p>
        <strong>Current Width:</strong>
        <span>{{this.width}}</span>
      </p>
      <p>
        <strong>Current Height:</strong>
        <span>{{this.height}}</span>
      </p>
    </:example>
  </Freestyle::Usage>
</FreestyleSection>