{{page-title "on-click-outside"}}

<!-- BEGIN-SNIPPET on-click-outside -->
<div class="ui segment" {{on-click-outside onClickOutside}} {{on "click" onClick}}>
  <p>
    <strong>Last State:</strong>
    <span>{{lastState}}</span>
  </p>
</div>
<!-- END-SNIPPET -->

<NrgCodeBlock @label="Example" @codeBlockName="on-click-outside.hbs" />
