<div class="{{menuClass}} {{scrollableClass}} menu">
  {{yield (hash
    options=displayedOptions
    item=(component "nrg-dropdown/item" active=(eq i activeItem) _onSelect=(action _onSelect))
    sub-menu=(component "nrg-dropdown/sub-menu" _onSelect=(action _onSelect))
    )}}
</div>
