<FreestyleSection @name="On Resize Modifier">
  <Freestyle::Usage>
    <:example>
      <div {{on-resize this.onResize}}>
        <p>
          <strong>Current Width:</strong>
          <span>{{this.width}}</span>
        </p>
        <p>
          <strong>Current Height:</strong>
          <span>{{this.height}}</span>
        </p>
      </div>
    </:example>
  </Freestyle::Usage>
</FreestyleSection>