{{item.sidebarLabel}}
{{#if item.sidebarIconClass}}
  <i class="right icon {{item.sidebarIconClass}}"></i>
{{/if}}
{{#if item.sidebarBadge}}
  <div class="ui teal label">{{item.sidebarBadge}}</div>
{{/if}}
