{{#if hasBlock}}
  {{yield (hash
    header=this
    filter=(component "nrg-list/header/filter" changed=(action filterChanged))
    search=(component "nrg-list/header/search" onChange=(action searchChanged))
    filterChangedAction=(action filterChanged))}}
{{/if}}
<div class="cleared"></div>
