<div class="ui piled red segment" style="text-align: center">
  <h3>This is slightly embarrassing.</h3>
  <p>The requested page was not found.</p>
  {{#link-to "index" class="ui primary button"}}Home{{/link-to}}
</div>
