<div class="ui container" style="padding-top: 5.5em;">
  <div class="ui piled red segment" style="text-align: center">
    <h3>An error occurred.</h3>
    <p>Please reload the page.</p>
    {{#link-to "index" class="ui primary button"}}Home{{/link-to}}
  </div>
</div>
