<!-- BEGIN-SNIPPET resize -->
<div class="ui form">
  <div class="ui field">
    <label>Current Width</label>
    <div class="js-screen-width">{{screenWidth}}</div>
  </div>
  <div class="ui field">
    <label>Current Height</label>
    <div class="js-screen-height">{{screenHeight}}</div>
  </div>
</div>
<!-- END-SNIPPET -->
