<div class="ui segment">
  <div class="ui form">
    <div class="ui field">
      <label>Is Android Device</label>
      <div>{{mobileDevice.isAndroid}}</div>
    </div>
    <div class="ui field">
      <label>Is iOS Device</label>
      <div>{{mobileDevice.isIOS}}</div>
    </div>
    <div class="ui field">
      <label>Is Mobile Device</label>
      <div>{{mobileDevice.isMobileDevice}}</div>
    </div>
  </div>
</div>
