{{#if (has-block)}}
  {{yield}}
{{else}}
  <div class="ui center aligned icon header" ...attributes>
    <i class="large list icon"></i>
    <div class="content">
      {{or @text "Please select an item"}}
    </div>
  </div>
{{/if}}