name: Format

on:
  push:
    branches: main

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  format:
    name: 'Create PR'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Setup pnpm cache
        uses: actions/cache@v3
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Format
        run: pnpm run format

      - name: Undo modifications to Github workflows
        run: git checkout -- .github

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        env:
          GITHUB_TOKEN: ${{ secrets.Formatter_PAT }}
        with:
          commit-message: 'auto-style: Format'
          title: 'auto-style: Format'
          body: ''
          branch: format
          base: main
          delete-branch: true
